body{
    font-family: sans-serif;
    margin: 0;
    align-items: center;
    background-color: black;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    background-color: transparent;
}

