body {
    font-family: sans-serif;
    text-align: center;
    background-color: aliceblue;
}
#video_wrap {
    position: absolute;
}
#video_overlays {
    position: absolute;
}
#video_overlays img {
    width: 850px;
    height: 450px;
}
#video_frame {
    width: 720px;
}
#canvas_frame {
    width: 320px;
    height: 200px;
    float: right;
}
.button_controller {
    float: right;
    border: 1px solid rgb(255, 3, 200);
    padding: 10px;
}